.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.searchBox{
  margin-top: 5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 20%;
}

.block-container {
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 50px;
  width: 50%;
  display: inline-block;
  overflow-wrap: break-word;
}

.block-container-green {
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 50px;
  width: 50%;
  display: inline-block;
  background-color: palegreen;
  overflow-wrap: break-word;
}

.block-container-red {
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 50px;
  width: 50%;
  display: inline-block;
  background-color: #E86962;
  overflow-wrap: break-word;
}

.block-container-grey {
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 50px;
  width: 50%;
  display: inline-block;
  background-color: lightgrey;
  overflow-wrap: break-word;
}

.green {
  background-color: lawngreen;
  padding: 5px;
  margin: 5px;
}

.red {
  background-color: #E86962;
  padding: 5px;
  margin: 5px;
}

.grey {
  background-color: grey;
  padding: 5px;
  margin: 5px;
}

.hidden{
  display: none;
}
.shown{
  display: inline-block;
  background-color: aqua;
}
.button-class{
  padding: 10px;
  margin: 5px;
  background-color: white;
  border:  none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: medium;

}

.remove-button{
  background-color: darkred;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;

}